@{
    ViewBag.Title = "About Us";
}
<h2>
    About</h2>
<p>
    This project uses:
    <ul>
        <li><a href="https://github.com/blueimp/jQuery-File-Upload">blueimp / jQuery-File-Upload</a>
        </li>
        <li><a href="https://github.com/twitter/bootstrap">twitter / bootstrap</a> </li>
        <li><a href="https://github.com/tapmodo/Jcrop">tapmodo / Jcrop</a> </li>
    </ul>
    Thanks to: <a href="https://github.com/maxpavlov/jQuery-File-Upload.MVC3">maxpavlov
        / jQuery-File-Upload.MVC3</a>
</p>
